*, h2, p, a, b, p {
  margin: 0;
  padding: 0;
  
}

:root {
  --light-background-color: #C9E5FF;
  --light-text-color: #91B3D2;
  --light-icons-color: #296399;
  --light-outside-text-color: #668CAF;
  --Jakarta-sans: 'Plus Jakarta Sans', sans-serif;
  --DM-sans: 'DM Sans', sans-serif;
}

body {
  background-color: #4A7DFF;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: var(--light-text-color);
}

.App {
  display: flex;
  justify-content: center;
  height: calc(100vh - 100px);
  align-items: center;
}

.card {
  padding: 10px;
  background-color: var(--light-background-color);
  border-radius: 20px;
  background: #C9E5FF;
  box-shadow: 0px 34px 101px rgba(9, 0, 63, 0.38);
  border-radius: 20px;
  padding: 60px;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.top img {
  height: 110px;
}

.top-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

h2 {
  font-size: 96px;
  font-weight: 700;
  line-height: 96px;
}
.text {
  padding-left: 30px;
}
.top-text p {
  font-size: 96px;
  line-height: 96px;
}

.text-p {
  font-size: 16px;
  font-weight: 600;
  color: var(--light-outside-text-color);
}

.bottom {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-item {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.bottom-item img {
  height: 20px;
  margin: 10px 0;
}

h2 {
  background: linear-gradient(180deg, #296399 54.68%, rgba(255, 255, 255, 0) 187.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.transparent {
  background: transparent;
  color: #C9E5FF;
}

.transparent::placeholder {
  color: #C9E5FF;
}

.transparent:focus {
  background: transparent;
  color: #C9E5FF;
}

.bg-must {
  background-color: #296399;
  border: none;
}

.bg-must:hover {
  background-color: #296399;
  opacity: 0.8;
}

.search-form {
  width: 500px;
}